/* import { Colors } from ./types; */

#baseColors{
  failure: #ED4B9E;
  primary: #2F70FF;
  primaryBright: #588cff;
  primaryDark: #2559cc;
  secondary: #40c2e9;
  success: #31D0AA;
  warning: #FFB237;
};

#brandColors{
  binance: #e9debb;
};

#lightColors{
  background: #DAE9F6;
  backgroundDisabled: #c4d1dd;
  contrast: #191326;
  invertedContrast: #FFFFFF;
  input: #eeeaf4;
  tertiary: #EFF4F5;
  text: #192b5d;
  textDisabled: #828b93;
  textSubtle: #46557d;
  borderColor: #98a3ac;
  card: #ffffff;
  gradients: {
    bubblegum: linear-gradient(139.73deg, #E6FDFF 0%, #F3EFFF 100%),
  }
}

#gradientLight{
    color1: #ffe6e6;
    color2: #ffefef
}

#darkColors{
  secondary: #40c2e9;
  background: #000000;
  backgroundDisabled: #57585c;
  contrast: #ffffff;
  invertedContrast: #191326;
  input: #ffffff;
  primaryDark: #0098A1;
  tertiary: #45464A;
  text: #FFFFFF;
  textDisabled: #37383b;
  textSubtle: #FFFFFF;
  borderColor: #57585c;
  card: #0F152A;
  gradients: {
    bubblegum: linear-gradient(139.73deg, #313D5C 0%, #3D2A54 100%);
  }
}

#gradientDark{
    color1: #5c3131;
    color2: #561111
}
